.modal__container {
  @media (min-width: 768px) {
    display: flex;
  }

  @media (min-width: 1024px) {
  }
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
}

.modal__img {
  border-radius: 5px;
  margin-bottom: 20px;
  object-fit: cover;

  @media (min-width: 768px) {
    width: 264px;
    height: 373px;
    margin-right: 68px;
  }

  @media (min-width: 1024px) {
    width: 375px;
    height: 478px;
    margin-right: 16px;
  }
}

.modal__content {
}

.modal__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.modal__list {
  margin-bottom: 20px;
}

.modal__item {
  margin-bottom: 8px;
  // width: 215px;
  display: flex;
  // justify-content: space-between;
}

.modal__text {
  display: block;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: $text-popap;
  width: 69px;
  margin-right: 39px;
}

.modal__votes-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
}

.modal__vote {
  height: 16px;
  padding: 1px 10px 1px 10px;
  border-radius: 5px;
  color: $color-white;
  background-color: $bg-modal-active-btn;
  margin-right: 5px;
}

.modal__vote--votes {
  background-color: $bg-footer;
  padding: 1px 4px 1px 4px;
  margin-left: 5px;
}

.modal__votes--title {
  text-transform: uppercase;
}

.modal__content-wrap {
  margin-bottom: 20px;
  @media (min-width: 768px) {
  }

  @media (min-width: 1024px) {
  }
}

.modal__content-title {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;

  margin-bottom: 8px;
}

.modal__content-description {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
}

.modal__buttons {
  margin-bottom: 20px;
  @media (min-width: 768px) {
    margin-bottom: 40px;
  }
}

.modal__btn {
  width: 110px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  padding: 6px 27px;
  margin-right: 9px;
  text-align: center;
  border: none;
  border-radius: 5px;
  border: 1px solid $color-black;
  background-color: transparent;

  @media (min-width: 768px) {
    width: 130px;
    margin-right: 13px;
    padding: 14px 9px;
  }

  @media (min-width: 1024px) {
    width: 136px;
    margin-right: 15px;
  }
}

.modal__btn--margin {
  margin-right: 0;
}

.modal__btn:hover,
.modal__btn:focus-within {
  border: 1px solid $bg-active;
  background-color: $bg-active;
  color: $color-white;
}

.is-watched {
  background: $bg-modal-active-btn;
  color: $color-white;
  border: 1px solid $bg-active;
}

.modal__play-wrap {
  width: 130px;
  display: flex;
  align-items: center;
  margin: 0 auto;

  @media (min-width: 768px) {
    margin: 0;
  }
}

.btn__play-modal {
  display: block;
  width: 50px;
  height: 50px;
  border: none;
  outline: none;
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' width='256' height='256' viewBox='0 0 256 256' xml:space='preserve'%3E%3Cdesc%3ECreated with Fabric.js 1.7.22%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg transform='translate(128 128) scale(0.72 0.72)' style=''%3E%3Cg style='stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;' transform='translate(-175.05 -175.05000000000004) scale(3.89 3.89)' %3E%3Cpath d='M 45 15.5 L 45 15.5 c 0.279 0 27.959 0.021 34.646 1.813 c 3.184 0.851 5.69 3.357 6.542 6.542 C 87.978 30.537 88 44.856 88 45 c 0 0.144 -0.022 14.463 -1.813 21.146 c -0.851 3.184 -3.357 5.69 -6.542 6.542 C 72.959 74.479 45.279 74.5 45 74.5 c -0.279 0 -27.959 -0.021 -34.646 -1.813 c -3.184 -0.851 -5.69 -3.357 -6.542 -6.542 C 2.022 59.463 2 45.144 2 45 c 0 -0.144 0.022 -14.463 1.813 -21.146 c 0.851 -3.184 3.357 -5.69 6.542 -6.542 C 17.041 15.521 44.721 15.5 45 15.5 M 45 13.5 c 0 0 -28.144 0 -35.162 1.881 c -3.872 1.035 -6.922 4.085 -7.957 7.957 C 0 30.356 0 45 0 45 s 0 14.644 1.881 21.662 c 1.035 3.872 4.085 6.922 7.957 7.957 C 16.856 76.5 45 76.5 45 76.5 s 28.144 0 35.162 -1.881 c 3.872 -1.035 6.922 -4.085 7.957 -7.957 C 90 59.644 90 45 90 45 s 0 -14.644 -1.881 -21.662 c -1.035 -3.872 -4.085 -6.922 -7.957 -7.957 C 73.144 13.5 45 13.5 45 13.5 L 45 13.5 z' style='stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;' transform=' matrix(1 0 0 1 0 0) ' stroke-linecap='round' /%3E%3Cpath d='M 38 34.964 L 55.382 45 L 38 55.036 V 34.964 M 36 31.5 v 27 L 59.382 45 L 36 31.5 L 36 31.5 z' style='stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;' transform=' matrix(1 0 0 1 0 0) ' stroke-linecap='round' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 20px;

  transition: transform 100ms ease-in-out;

  &:hover {
    transform: scale(1.03);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' width='256' height='256' viewBox='0 0 256 256' xml:space='preserve'%3E%3Cdesc%3ECreated with Fabric.js 1.7.22%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg transform='translate(128 128) scale(0.72 0.72)' style=''%3E%3Cg style='stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;' transform='translate(-175.05 -175.05000000000004) scale(3.89 3.89)' %3E%3Cpath d='M 45 15.5 L 45 15.5 c 0.279 0 27.959 0.021 34.646 1.813 c 3.184 0.851 5.69 3.357 6.542 6.542 C 87.978 30.537 88 44.856 88 45 c 0 0.144 -0.022 14.463 -1.813 21.146 c -0.851 3.184 -3.357 5.69 -6.542 6.542 C 72.959 74.479 45.279 74.5 45 74.5 c -0.279 0 -27.959 -0.021 -34.646 -1.813 c -3.184 -0.851 -5.69 -3.357 -6.542 -6.542 C 2.022 59.463 2 45.144 2 45 c 0 -0.144 0.022 -14.463 1.813 -21.146 c 0.851 -3.184 3.357 -5.69 6.542 -6.542 C 17.041 15.521 44.721 15.5 45 15.5 M 45 13.5 c 0 0 -28.144 0 -35.162 1.881 c -3.872 1.035 -6.922 4.085 -7.957 7.957 C 0 30.356 0 45 0 45 s 0 14.644 1.881 21.662 c 1.035 3.872 4.085 6.922 7.957 7.957 C 16.856 76.5 45 76.5 45 76.5 s 28.144 0 35.162 -1.881 c 3.872 -1.035 6.922 -4.085 7.957 -7.957 C 90 59.644 90 45 90 45 s 0 -14.644 -1.881 -21.662 c -1.035 -3.872 -4.085 -6.922 -7.957 -7.957 C 73.144 13.5 45 13.5 45 13.5 L 45 13.5 z' style='stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(255,0,0); fill-rule: nonzero; opacity: 1;' transform=' matrix(1 0 0 1 0 0) ' stroke-linecap='round' /%3E%3Cpath d='M 38 34.964 L 55.382 45 L 38 55.036 V 34.964 M 36 31.5 v 27 L 59.382 45 L 36 31.5 L 36 31.5 z' style='stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(255,0,0); fill-rule: nonzero; opacity: 1;' transform=' matrix(1 0 0 1 0 0) ' stroke-linecap='round' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }
}
